#map {
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;

   
}

#mapContainer{
    padding-bottom: 100px;
}

#mapStyle{
    max-width:2000px;
    margin-top:600px;
}

/* Background colour for the footer */
footer {
    background-color: 'red';
    width:100% !important;
  }


#homepageStyle {
      text-align: center;
  }